body {
  font-family: 'Roboto', sans-serif;
}

.has-text-danger{
  color: orangered;
}
.invoice-form {
  max-width: 950px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.invoice-form h1 {
  text-align: center;
}

.invoice-form .form-group {
   margin: 15px 0 15px;
}

 label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
}

.invoice-form .form-group input,
.invoice-form .form-group textarea {
  width: 100%;
  padding: 8px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-body {
  display: flex;
  gap: 2rem;
}

.form-totals {
  justify-content: center;
  display: flex;
}

.invoice-form button {
  display: block;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.invoice-form button:hover {
  background: #0056b3;
}

.invoice-form .remove-button {
  background-color: orangered;
  font-size: 8px;
  height: 1px;
  width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-form .remove-button:hover {
  background: rgb(238, 65, 2);
}

.help {
 display: block;
 font-size: .75rem;
 margin-top: .25rem;
}

.invoice-form .title{
  margin-bottom: 1rem; 
}